:root {
    --main-background-color: rgb(58, 9, 39);
    --main-background-color-secondary: rgb(18, 2, 32);
    --main-text-color: white;
    font-family:  Roboto;
    display: flex;
    flex-direction: column;
}


body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

.username-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-self: flex-start;
    background: fixed;
    height: 75px;
    border-radius:  15px 25px 5px 5px ;
    background-color: var(--main-background-color-secondary);
    align-items: center;
}

.w300 {
    width: 300px!important;
}

.w100PC {
    width: 100%!important;
}

.wrappable {
    width: 50px;
    overflow-wrap: break-word;
}

.slider-container {
    width: 100%;
    padding: 0% 10% 0% 10%;
    margin: 10px 0px 10px 0px;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--main-background-color-secondary);
}

.chat-container {
    display: flex;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.message-form {
    display: flex;
    justify-items: flex-end;
    justify-content: flex-end;
    justify-self: flex-end;
    margin-top: 10px;
}

.message-list-container {
    border-radius: 15px 25px 5px 5px;
    background-color: var(--main-background-color-secondary);
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}


.message-text {
    color: aquamarine;
    font-size: medium;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}
/*
.message-item {
     border-width: 2px; 
    border-style: inset;
    border-color: rgb(56, 4, 49);
}
*/
.message-sender {
    font-size: large;
}


.register-form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 110%;
    padding: 2% 2% 2% 2%;
    
    border-radius: 5%;
    background-color: var(--main-background-color-secondary);
    
}

.login-form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 110%;
    padding: 2% 2% 2% 2%;
    
    border-radius: 5%;
    background-color: var(--main-background-color-secondary);

    
}


.login-form > .confirm-password {
    transition: all 0.4s ease-out;
    max-height: 100px;
    opacity: 1;
}

.login-form > .confirm-password.tobehidden {
    max-height: 0px;
    opacity: 0;
    filter: blur(4px);
}


/*
.changing-text > .mdc-touch-target-wrapper > mdc-button > .mdc-button.mdc-button--raised.mdc-button--touch.mdc-ripple-upgraded > .mdc-button__label { 
    transition: all 0.5s;
}
.changing-text > .mdc-touch-target-wrapper > mdc-button > .mdc-button.mdc-button--raised.mdc-button--touch.mdc-ripple-upgraded > .mdc-button__label[value*="LOGIN"] { 
    filter: blur(20px);
}
*/


@keyframes blur-text {
    from {
        filter: blur(5px);
    }
    to {
        filter: blur(0);
    }
}

.shown {
    transition: all 0.333s ease-in-out;
 }

/*
.login-form > *:disabled {
    visibility: hidden;
}
*/

/*

.form-container {

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 110%;
    padding: 2% 2% 2% 2%;
    border-radius: 5%;
    background-color: var(--main-background-color-secondary);

    
}
*/

.material-text-field {
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 1%;
}


@keyframes grow {
    from {
        max-height: 0px;
        opacity: 0;
    }
    to {
        max-height: 100px;
      opacity: 1;
    }
  }


  @keyframes disapear {
    from {
        max-height: 100px;
      opacity: 1;
    }
    to {
        max-height: 0px;
        opacity: 0;
    }
  }